# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
output_data_file = 'cities_clean.csv'
cities_df = pd.read_csv(output_data_file)
cities_df.head()

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,cuiluan,47.7200,128.6480,-27.53,84,0,0.52,CN,1612050579
1,shingu,33.7333,135.9833,7.00,76,75,6.17,JP,1612050427
2,hithadhoo,-0.6000,73.0833,27.56,79,65,6.73,MV,1612050579
3,vaini,-21.2000,-175.2000,29.00,84,75,5.14,TO,1612049830
4,ayan,56.4500,138.1667,-21.90,85,100,3.04,RU,1612050018

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store latitude and longitude in locations
locations = cities_df[["Latitude", "Longitude"]]
humidity = cities_df['Humidity']

In [4]:
# Plot Heatmap
fig = gmaps.figure(center=[37,-95],zoom_level=4)

# Create heat layer
heat_layer = gmaps.heatmap_layer(
    locations, 
    weights=humidity, 
    dissipating=False, 
    max_intensity=10,
    point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
# I set temperatures in metric units so ideal temperature is between 21.1C and 26.7C, windspeed< 16.1 km/hr   
cities_ideal_df = cities_df.loc[(cities_df['Max Temp'] < 26.7) 
              & (cities_df['Max Temp'] > 21.1) 
              & (cities_df['Wind Speed'] < 16.1) 
              & (cities_df['Cloudiness'] == 0)
              & (cities_df['Humidity'] < 70)
              & (cities_df['Humidity'] >= 35)]

cities_ideal_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
424,bol,13.4586,14.7147,22.11,35,0,8.90,TD,1612050693
456,dargaville,-35.9333,173.8833,22.69,43,0,2.98,NZ,1612050701
26,ahipara,-35.1667,173.1667,22.26,48,0,2.52,NZ,1612050585
248,kaeo,-35.1000,173.7833,23.33,51,0,6.26,NZ,1612049874
446,ngunguru,-35.6167,174.5000,23.33,51,0,5.36,NZ,1612050308
355,mildura,-34.2000,142.1500,22.22,60,0,4.63,AU,1612050674
56,saint-philippe,-21.3585,55.7679,26.00,65,0,2.06,RE,1612050009
193,pisco,-13.7000,-76.2167,23.00,68,0,8.23,PE,1612049878
299,san juan bautista,-14.0108,-75.7358,23.00,68,0,8.23,PE,1612050657
435,vila do maio,15.1333,-23.2167,22.00,68,0,7.72,CV,1612050695

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
# Create an API search for 'lodging' (closest to hotels) within 5000m of our city. 
target_type = "lodging"
radius = 5000
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
hotel_df = pd.DataFrame(data = cities_ideal_df)
# add in blank columns to our dataframe which will contain hotel co-ordinates
hotel_df['Hotel Name'] = ""
hotel_df['Lat'] = ""
hotel_df['Lng'] = ""
hotel_df.reset_index(inplace=True)
hotel_df.head()

,index,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name,Lat,Lng
0,26,ahipara,-35.1667,173.1667,22.26,48,0,2.52,NZ,1612050585,,,
1,56,saint-philippe,-21.3585,55.7679,26.00,65,0,2.06,RE,1612050009,,,
2,193,pisco,-13.7000,-76.2167,23.00,68,0,8.23,PE,1612049878,,,
3,248,kaeo,-35.1000,173.7833,23.33,51,0,6.26,NZ,1612049874,,,
4,299,san juan bautista,-14.0108,-75.7358,23.00,68,0,8.23,PE,1612050657,,,

In [12]:
# Build URL using the Google Maps API
for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    params = {
            "location": f"{lat},{lng}",
            "types": target_type,
            "radius": radius,
            "key": gkey
            }
    # call the API and pull the hotel name and it lat and long coordinates
    response = requests.get(base_url, params).json()
    results = response['results']
    print(f"Closest hotel is {results[0]['name']}")
    hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
    hotel_df.loc[index, 'Lat'] = results[0]['geometry']['location']['lat']
    hotel_df.loc[index, 'Lng'] = results[0]['geometry']['location']['lng']

Closest hotel is Ahipara Holiday Park
Closest hotel is Chambres d'hôte "La Trinité"
Closest hotel is Hotel San Isidro Oficial
Closest hotel is Bushido Lodge
Closest hotel is Hotel Las Dunas
Closest hotel is Mercure Hotel Mildura
Closest hotel is Hotel 3 Etoiles
Closest hotel is Residence 'I Delfini'
Closest hotel is Pacific Rendezvous Motel Resort
Closest hotel is Parkview Motel

In [20]:
# display the complete hotel df.
hotel_df

,index,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name,Lat,Lng
0,26,ahipara,-35.1667,173.1667,22.26,48,0,2.52,NZ,1612050585,Ahipara Holiday Park,-35.160363,173.161348
1,56,saint-philippe,-21.3585,55.7679,26.00,65,0,2.06,RE,1612050009,"Chambres d'hôte ""La Trinité""",-21.358434,55.770322
2,193,pisco,-13.7000,-76.2167,23.00,68,0,8.23,PE,1612049878,Hotel San Isidro Oficial,-13.707869,-76.19899
3,248,kaeo,-35.1000,173.7833,23.33,51,0,6.26,NZ,1612049874,Bushido Lodge,-35.117517,173.797571
4,299,san juan bautista,-14.0108,-75.7358,23.00,68,0,8.23,PE,1612050657,Hotel Las Dunas,-14.047706,-75.7528
5,355,mildura,-34.2000,142.1500,22.22,60,0,4.63,AU,1612050674,Mercure Hotel Mildura,-34.185612,142.163674
6,424,bol,13.4586,14.7147,22.11,35,0,8.90,TD,1612050693,Hotel 3 Etoiles,13.484568,14.697836
7,435,vila do maio,15.1333,-23.2167,22.00,68,0,7.72,CV,1612050695,Residence 'I Delfini',15.13276,-23.207394
8,446,ngunguru,-35.6167,174.5000,23.33,51,0,5.36,NZ,1612050308,Pacific Rendezvous Motel Resort,-35.61861,174.538681
9,456,dargaville,-35.9333,173.8833,22.69,43,0,2.98,NZ,1612050701,Parkview Motel,-35.933535,173.875014

In [27]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[['Lat','Lng']].astype(float)
locations_tup = list(locations.to_records(index=False))

In [26]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations_tup, info_box_content= hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))